<section class="p-0" id="thematics">
    <div class="container-fluid p-0">


        {% for thematic in parentThematics %}
        {% if loop.first %}
        <div class="row no-gutters">
            {% endif %}
            <div class="col-lg-3 col-sm-6 bg-black">
                <a class="portfolio-box hovered" href="#" sub-thematic-target="{{ thematic.id }}">
                    {% if thematic.thumbnail is not null %}
                    {#    <img class="lazy" width="100%" src="{{ asset('Frontend/img/loader.gif') }}" data-original="{{ asset(thematic.thumbnail.path|imagine_filter('thematic')) }}" alt="">#}
                        <img width="100%" src="{{ asset(thematic.thumbnail.path|imagine_filter('thematic')) }}">
                    {% else %}
                        <img width="100%" src="{{ asset('Frontend/img/default-sub-thematic.png') }}">
                    {% endif %}
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category title-lvl-1 text-faded">
                                {{ thematic.title }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            {% if loop.index is divisible by(4) or loop.last %}
{#            {% for thematic in parentThematics|slice( (loop.index - 4), (loop.index)) %}#}
            {% for thematic in parentThematics %}
                <section class="sub-thematic" id="sub-thematics-{{ thematic.id }}">
                    <div class="row">
                        {% for subThematic in thematic.subThematics|sortbyfield('suiteNumber') %}
                            <div class="col-lg-2 col-sm-3">
                                <a class="portfolio-box" href="#" data-toggle="modal"
                                   data-target="#sub-thematic-slides-{{ subThematic.id }}">
                                    {% if subThematic.thumbnail is not null %}
                                        <img width="100%"
                                             src="{{ asset(subThematic.thumbnail.path|imagine_filter('sub_thematic')) }}"
                                             alt="">
                                    {% else %}
                                        <img width="100%" src="{{ asset('Frontend/img/default-sub-thematic.jpg') }}">
                                    {% endif %}
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                {{ subThematic.title }}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <script>
                                var start;

                                $('#sub-thematic-slides-{{ subThematic.id }}').on('show.bs.modal', function (e) {
                                    start = new Date();
                                });

                                $('#sub-thematic-slides-{{ subThematic.id }}').on('hidden.bs.modal', function (e) {
                                    var end = new Date();
                                    $.ajax({
                                        url: '{{ path('app_stats_subThematic_add_time', {subThematicId : subThematic.id}) }}',
                                        data: {'time': end - start},
                                        async: false
                                    })
                                });
                            </script>
                            {% include ('Frontend/Slide/view.html.twig') with {'subThematic' : subThematic} %}
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}
        </div>

        <div class="row no-gutters">
            {% endif %}

            {% endfor %}

        </div>
    </div>
</section>

<script>
    $('.sub-thematic').hide();
    $('.portfolio-box').click(function (e) {
        e.preventDefault();
        var modalAttr = $(this).attr('data-toggle');
        if ($(this).attr('data-toggle') != 'modal') {
            $('#sub-thematics-' + $(this).attr('sub-thematic-target')).toggle('fast');
            $('.sub-thematic').not($('#sub-thematics-' + $(this).attr('sub-thematic-target'))).hide();
        }
    });
    /*    $(document).mouseup(function (e) {
            var container = $(".sub-thematic");
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                container.hide();
            }
        });*/
    /*  $('.sub-thematic').hide();
      $('.hovered').hover(function (e) {
          $('.sub-thematic').not($('#sub-thematics-' + $(this).attr('sub-thematic-target'))).hide();
          $('#sub-thematics-' + $(this).attr('sub-thematic-target')).fadeIn();
      }); */
</script>
